<div class="inner cover about">
    <div class="col-md-12">
      <h2>About Splurty</h2>
      <p>
        Splurty is a random quote generator built on Ruby on Rails. It displays inspirational quotes about hard work and allows users to input their own saying into the page.
      </p>
      <br />
      <p>
      You can find the code for this project on my <a href="http://www.github.com/pkayokay/splurty" target="_blank">github</a>.
      </p>
    </div>
</div>