@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
  background: #333;
  color:#FFF;
  font-family: "Helvetica Neue";
  padding: 20px;
}
.clear {
  clear: both;
}

header {
  height: 48px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 50px;
  padding: 0 30px;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.slogan {
  color: #FFE564;
  font-size: 20px;
  margin-bottom: 6px;
}

.links {
}

.links a {
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.links a:hover {
  opacity: .8;
  text-decoration: none;
}

@media (max-width: 767px) {

  h1 {
    font-size: 40px;
    padding: 0
  }
}

@media (max-width: 500px) {

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
}