@import url(https://fonts.googleapis.com/css?family=Oswald);

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  padding: 20px 0;
  margin-bottom: 60px;
}
.clear {
  clear: both;
}

header {
  height: 48px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 100px;
  font-weight: 100;
  font-family: "Helvetica Neue";
  text-align: center;
}

h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.slogan {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.slogan a,
.slogan a:hover {
  color: #00B1B1;
  font-size: 24px;
  text-decoration: none;
}

.links {
}

.links a {
  color: #000;
  font-size: 17px;
  padding: 0 10px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.links a:hover {
  opacity: .6;
  text-decoration: none;
}

.btn-yellow,
.btn-yellow:hover {
  background: #FFD400;
  color: #444;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  font-size: 17px;
  text-align: center;
}

.footer span {
  color: #00B1B1;
}

.footer a,
.footer:focus,
.footer:visited {
  color: #000;
  text-decoration: none;
}

.footer a:hover {
  color: #000;
  opacity: .6;
  text-decoration: none;
}

.glyphicon-refresh {
  font-size: 25px;
  margin: 8px 0 12px;
}

@media (min-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 767px) {

  h1 {
    font-size: 40px;
    margin-top: 90px;
  }
}

@media (max-width: 500px) {

  h1 {
    font-size: 24px;
    margin-top: 70px;
  }

  h2 {
    font-size: 24px;
  }
}